.size{
    height: 200px;
   width: 200px;
}
  .padding{
    padding: 10px;
  }
  .card-height{
    min-height: 360px;
  }
  .jumbotron{
    background-color: lightgreen;
    text-align: center;
  }
  body{
    background: #24C6DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .border{
    border: 2px #ffffff solid;
    padding: 10px 15px;
    margin: 20px 20px;
  }
  .cd{
    border: 2px solid grey;
  }